*{
	padding : 0px ;
	margin : 0px ;
}
body{
	background-color : #00BFFF ;
	background-image : url("Muur.jpg");
	background-size : 100% ;
}
div.default{
	width : 98,9% ;
	background-color: rgba(0, 0, 0, 0.4);
	border : 1px solid white ;
	border-bottom-left-radius : 20px ;
	border-bottom-right-radius : 20px ;
	padding : 5px ;
}
div.logo{
	text-align : left ;
	position : absolute ;
}
div.button{
	text-align : right ;
	padding : 5px ;
	padding-right : 20px ;
}
ul.top li{
	display : inline ;
}
img{
	max-width : 25% ;
	max-height : 25% ;
}
button{
	padding : 5px ;
}
div.leftmenu{
	margin-top : 50px ;
	margin-left : 10px ;
	background-color: rgba(0, 0, 0, 0.4);
	border : 1px solid white ;
	border-radius : 20px ;
	padding : 5px ;
	width : 15% ;
	height : 78% ;
	position : absolute ;
}
ul.menu li{
	color : white ;
	list-style : none ;
	padding : 5px ;
	font-size : 20px ;
	text-shadow : 2px 0 0 #000000, -2px 0 0 #000000, 0 2px 0 #000000, 0 -2px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000;
}
div.basic{
	width : 80% ;
	background-color: rgba(0, 0, 0, 0.4);
	border : 1px solid white ;
	border-radius : 20px ;
	padding : 5px ;
	margin-left : 250px ;
	margin-top : 50px ;
}
th{
	color : white ;
	text-shadow : 2px 0 0 #000000, -2px 0 0 #000000, 0 2px 0 #000000, 0 -2px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000;
	text-align : left ;
	padding-right : 20px ;
	padding-left : 10px ;
	padding-top : 5px ;
	padding-bottom : 5px ;
}
table{
	border : 1px solid white ;
	border-radius : 20px ;
	width : 100% ;
}
a{
	text-decoration : none ;
	color : white ;
}
p{
	color : white ;
	padding-bottom : 20px ;
	font-size : 20px ;
	text-shadow : 2px 0 0 #000000, -2px 0 0 #000000, 0 2px 0 #000000, 0 -2px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000;
}
h4, h3, h5, p, h1, pre{
	padding-bottom : 20px ;
	color : white ;
	text-shadow : 2px 0 0 #000000, -2px 0 0 #000000, 0 2px 0 #000000, 0 -2px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000;
}
div.basic1{
	width : 80% ;
	background-color: rgba(0, 0, 0, 0.4);
	border : 1px solid white ;
	border-radius : 20px ;
	padding : 5px ;
	margin-left : 10px ;
	margin-top : 10px ;
}
a:hover{
	color : yellow ;
	text-decoration : underline ;
}
